.encabezado{
    background-color: black;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    
}
.logo{
background-color: aqua;
    width: 100px;
    padding: 10px;
    margin-top: 10px;
}
.menu{
    background-color: aqua;
    width: 30px;
    padding: 10px;
    margin-top: 10px;
    

}
html{
    font-size: 16px;
}