$colorBlue: blue;
$colorDarkRed: #800;

$colorLink: $colorDarkRed;
$fontText: 'Roboto', arial, sans-serif;

a {
  
}
.body{
    color: $colorLink;  
    background-color: $colorBlue ;
    
}