<<<<<<< HEAD
 @import 'layout/intentogrid';
 


.encabezado{
    background-color: black;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    align-items: center;
}
.body{
    background-color: aqua;
    
}
=======
@import "pages/header";
@import "pages/body";

>>>>>>> 6c5483dc833c88f6f6682546dd2561b5d3100b57


html{
    font-size: 16px;
}

.hero {
    background-color: #7593eb;
}

.titulo {
    color: white;
    padding:10px;
}

.subtitulo {
    padding: 10px;
    color: white;
}

.boton{
    background-color: green;
    padding: 15px;
}


@media screen and (min-width: 480px){
.menu{
    display: none;
}
}
<<<<<<< HEAD

=======
>>>>>>> 6c5483dc833c88f6f6682546dd2561b5d3100b57
